# Compiled Java class files
*.class

# Maven build output
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Log files
*.log

# Temporary files
*.tmp
*~
.~lock.*#

# IDE-specific files
.idea/
*.iml
*.iws

# Zipped files (if they are build artifacts)
*.zip
