target/
*.log
.idea/
*.iml
.classpath
.project
.settings/
bin/
*.class
temp_git_final_final/
junk_to_delete/
build_server.log
build.log
client_run.log
error_trace.log
server_err.log
server_out.log
server_run_8.log
server_run.log
srv_err.log
srv_out.log
test_api_out_8.log
test_api_out.log
